* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

header {
    background-image: url('./images/pattern.jpeg');
    
}

body {
    display: block;
    margin-top: 8px;
}

section {
    margin: 50px 0 0 0;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    width: 100%;
}


h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 0 0 20px 0;
}

h3 {
    margin: 20px 0 20px 0;
}

img {
    width: 200px;
    height: 200px;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

strong {
    font-weight: bold;
    color: blue;
}